@use "./theme.scss";
@use "./mixins";
@use "./reset.scss";
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap');

html {
 	font-size: 62.5%;
}

body {
    font-family: var(--font-familly);
    background: var(--t-color-background);
}